<div class="mainCard">
  <div class="colCard">
    <div class="cardImg">
      <img src="{{photoCover}}" />
    </div>
    <div class="cardContent">
      <h2>{{ contentTitle }}</h2>
      <p>
        {{ contentDescription }}
      </p>
    </div>
    <div class="cardInfo">
      <div class="dateInfo">
        <img src="../../../assets/img/calendar.png" />
        {{ contentDate }}
      </div>
      <div class="authorInfo">
        <img src="../../../assets/img/user.png" />
        {{ contentAuthor }}
      </div>
    </div>
  </div>
</div>